In [1]:
print("""Descriptive Statistics - Measures of Central Tendency and variability 
Perform the following operations on any open source dataset (e.g., data.csv) 
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for 
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative 
(categorical) variable. For example, if your categorical variable is age groups and 
quantitative variable is income, then provide summary statistics of income grouped by the 
age groups. Create a list that contains a numeric value for each response to the categorical 
variable.  
2. Write a Python program to display some basic statistical details like percentile, mean, 
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ 
of iris.csv dataset. 
 
 Provide the codes with outputs and explain everything that you do in this step.""")

Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
(categorical) variable. For example, if your categorical variable is age groups and
quantitative variable is income, then provide summary statistics of income grouped by the
age groups. Create a list that contains a numeric value for each response to the categorical
variable.
2. Write a Python program to display some basic statistical details like percentile, mean,
standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’
of iris.csv dataset.

 Provide the codes with outputs and explain everything that you do in this step.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [4]:
print(df['5.1'].mean())

5.8483221476510066

In [5]:
print(df['5.1'].median())

5.8

In [6]:
print(df['5.1'].mode())

0    5.0
Name: 5.1, dtype: float64

In [7]:
df['5.1'].describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: 5.1, dtype: float64

In [8]:
df.groupby('Iris-setosa').describe()

                  5.1                                                  3.5  \
                count      mean       std  min    25%  50%  75%  max count
Iris-setosa
Iris-setosa      49.0  5.004082  0.355879  4.3  4.800  5.0  5.2  5.8  49.0
Iris-versicolor  50.0  5.936000  0.516171  4.9  5.600  5.9  6.3  7.0  50.0
Iris-virginica   50.0  6.588000  0.635880  4.9  6.225  6.5  6.9  7.9  50.0

                           ...    1.4        0.2                           \
                     mean  ...    75%  max count      mean       std  min
Iris-setosa                ...
Iris-setosa      3.416327  ...  1.600  1.9  49.0  0.244898  0.108130  0.1
Iris-versicolor  2.770000  ...  4.600  5.1  50.0  1.326000  0.197753  1.0
Iris-virginica   2.974000  ...  5.875  6.9  50.0  2.026000  0.274650  1.4


                 25%  50%  75%  max
Iris-setosa
Iris-setosa      0.2  0.2  0.3  0.6
Iris-versicolor  1.2  1.3  1.5  1.8
Iris-virginica   1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [9]:
df.groupby('Iris-setosa').mean()

                      5.1       3.5       1.4       0.2
Iris-setosa
Iris-setosa      5.004082  3.416327  1.465306  0.244898
Iris-versicolor  5.936000  2.770000  4.260000  1.326000
Iris-virginica   6.588000  2.974000  5.552000  2.026000

In [10]:
df = df.rename(columns={'Iris-setosa': 'Species'})

In [11]:
df.head(5)

   5.1  3.5  1.4  0.2      Species
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [13]:
# Filter the DataFrame to include only the specified species
setosa_stats = df[df['Species'] == 'Iris-setosa'].describe()
versicolor_stats = df[df['Species'] == 'Iris-versicolor'].describe()
virginica_stats = df[df['Species'] == 'Iris-virginica'].describe()

# Display basic statistical details for each species
print("Statistical details for Iris-setosa:")
print(setosa_stats)
print()

print("Statistical details for Iris-versicolor:")
print(versicolor_stats)
print()

print("Statistical details for Iris-virginica:")
print(virginica_stats)

Statistical details for Iris-setosa:
             5.1        3.5        1.4        0.2
count  49.000000  49.000000  49.000000  49.000000
mean    5.004082   3.416327   1.465306   0.244898
std     0.355879   0.384787   0.175061   0.108130
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.100000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

Statistical details for Iris-versicolor:
             5.1        3.5        1.4        0.2
count  50.000000  50.000000  50.000000  50.000000
mean    5.936000   2.770000   4.260000   1.326000
std     0.516171   0.313798   0.469911   0.197753
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.525000   4.000000   1.200000
50%     5.900000   2.800000   4.350000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000

Statistical details for Iris-virginica:
            5.1        3.5        1.4       0.2
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000